<div class="container-fluid">
    <div id="DivHeader">
        <nav class="navbar">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#"><img src="~/Images/3.png" style="width:200px; height:150px"></a>
            </div>
  
            <div class="nav collapse navbar-collapse" id="myNavbar">
                <div>
                    <ul id="head-text">
                        <li>
                           @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li> @Html.ActionLink("About Us", "About", "Home") </li>
                        <li> @Html.ActionLink("Contacts", "Contact", "Home") </li>
                        <li> @Html.ActionLink("Search", "Search", "Home") </li>
                        @*<li> @Html.ActionLink("FeedBack", "FeedBack", "Home") </li>*@
                        @*<li> @Html.ActionLink("Edit Account", "EditAccount", "Home") </li>*@
                     @*   <li> @Html.ActionLink("SignUp", "SignUp", "Home") </li> *@
                        <li>  @Html.Partial("_LoginPartial")</li>
</ul>

                </div>
    
                    </div>
    </div>
   
</div>
