@model SaviourRedDrop.Models.SaviourRDUser
<div class="container fluid">
    <div class="row">
        <div class="col-sm-3" style="margin-top:40px;">

            <ul class="list-group">

                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Home</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> About us</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Contacts</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Search</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> FeedBack</h5></a>
                <a href="" class="btn btn-danger btn-sm btn-block"><h5> Edit Account</h5></a>

        </div>
        <div class="col-sm-6" style="padding-left:100px; margin-top:30px;">
            @{
                ViewBag.Title = "Create";
            }


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2><centre>Edit Your Account</centre></h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })<br/><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                 
                                    
                     <div class="form-group">
                        @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })<br/><br />
                        <div class="col-md-10">
                            @Html.DropDownList("Area", null, htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })<br/><br />
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save Change" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }

            
        </div>

@*<div><h3><B><centre>Edit Your Account</centre></B></h3></div>
    <form>
        <div class="form-inline">

            <div class="form-group">
                <label for="Text">Name</label></br>
                <input type="Text" placeholder="Name">
            </div></br>

            <div class="form-group">
                <label for="Text">PhoneNumber</label></br>
                <input type="Text" placeholder="PhoneNumber">
            </div></br>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Area", null, htmlAttributes: new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                </div>
            </div>*@

@*<div class="form-group">
        <label for="Text">City</label></br>

        <select>
            <option>Lahore</option>
            <option>Sheikhupura</option>
            <option>Gujrawalla</option>
            <option>Faisalabad</option>
            <option>Kamoki</option>
            <option>Sialkot</option>
            <option>Sargoodha</option>

        </select>
    </div></br></br>
    <button type="submit" class="btn btn-danger">Login</button>
                   </div>
                </form>
            </div>*@
<div class="col-sm-3" style="margin-top:35px;">
    <div>
        <p><img src="~/Images/7.jpg" class="img-responsive img-thumbnail " width="100" align="left" />Adult blood volume is 5 to 6 Liters. Blood is a red coloured fluid that contains continuously renewing cells like red blood cells which renew every 4 months, platelets that renew every week and also </p>
    </div>
    <div>
        <img src="~/Images/10.jpg" class="img-responsive">

    </div>

</div>

</div>
</div>